<% if (roleName !== 'basic') { %>
    <h2>Unfortunatey you dont have permissions to look at the account</h2>
    <p>
        <a href="/login">Please log in </a>
    </p>
<% } else { %>
    <h1><%- title %></h1>
    <a href="/logout">Log Out</a>
    <p> Hello <%- user.login %></p>

    <p>
        <a href='<%- user.html_url %>'> html_url </a>
    </p>

    <p>
        <a href='<%- user.repos_url %>'> repos_url </a>
    </p>


    <p> Wszystkie dane usera <%- JSON.stringify(user) %></p>

    <p><a href="/repositories">List my repositories</a></p>
<% } %>

<h3> Rola typu: <%- roleName %> </h3>





