<p> Hello <%- user.username %></p>
<p> <%- user.profileUrl %></p>
<p> <%- user.provider %></p>
<p> <%- user.repos_url %></p>

<p> <%- user._json.login %></p>

<p> all <%- JSON.stringify(user) %></p>

<p>
	  <a href="/user/repos">List organization repositories</a> | 
</p>




