<h1><%- title %></h1>
<p> Hello <%- user.username %></p>
<p> <%- user.profileUrl %></p>
<p> <%- user.provider %></p>
<p> <%- user.repos_url %></p>

<p> <%- user._json.login %></p>

<p> all <%- JSON.stringify(user) %></p>

<p><a href="/repositories">List my repositories</a></p>
<br>
<p><a href="/issues">List my issues</a></p>




